<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Change Notification</title>
</head>
<body>
    <h2>Password Change Notification</h2>
    <p>Hello {{firstName}},</p>
    <p>We detected that your password was recently changed. If this was you, you can safely ignore this email.</p>
    <p>If you did not change your password, please click the link below to reset it immediately:</p>
    <p><a href="{{resetLink}}">Reset Password</a></p>
    <p>This link will expire in {{expirationHours}} hours.</p>
    <p>If you need any assistance, please contact our support team.</p>
</body>
</html> 